* {
    margin: 0;
    padding: 0;
}

.card {
    background-color: aqua;
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal {
    padding: 1em;
    max-width: 50ch;
}

input {
    width: 100px;
    height: 20px;
}

#submit {
    width: 100px;
}

.header {
    height: 15%;
    background-color: lightblue;
    border-bottom: 2px solid black;
}

.container {
 height: 100vh;
 width: auto;
}

.display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}

.card-container {
    height: 90%;
    width: 90%;
}

#myBtn {
    width: 100px;
    height: 30px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 40%;
}

